In [71]:
import pandas as pd
hf = pd.read_csv("../input/CPI.csv")
df = hf
for x in df["DATE"].unique():
    if str(x).split("-")[1]== '03':
        df["DATE"] = df["DATE"].replace(x,x.split("-")[0])
    else:
        df["DATE"] = df["DATE"].replace(x,0)
df = df[(df['DATE'] != 0)]
num = df[df["DATE"]=='2000']["CPIAUCSL"]

df["CPIAUCSL"] = df["CPIAUCSL"]/int(num)

df=df.rename(columns={"DATE":"year", "CPIAUCSL":"real_cpis"})

/Users/jsusser/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [75]:
df.to_csv("../output/revised_CPI.csv")

In [73]:
df.head()

    year  real_cpis
2   1947   0.128655
14  1948   0.137427
26  1949   0.139825
38  1950   0.138246
50  1951   0.151345

In [74]:
cf.head()

  DATE  CPIAUCSL
0    0     21.48
1    0     21.62
3    0     22.00
4    0     21.95
5    0     22.08